#display {
    outline: none;
    width: 95%;
    margin: 5px;
    padding: 0.8rem;
    text-align: right;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.8rem;
    color: whitesmoke;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
}