* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('https://source.unsplash.com/random/?math,physics');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border: 1px solid blueviolet; */
  max-width: 30rem;
  width: 95%;
  margin-inline: auto;
  margin-top: 5rem;
  border-radius: 1rem;
  padding: 2rem 0.3rem;
}